@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="metro">
    <div style="background: url(@Url.Content("~/Content/pictures/aeroflot.jpg")) top left no-repeat; background-size: cover; height: 400px;">
        <div class="container" style="padding: 50px 20px">
            <h1 class="fg-white">Портал аэропорта - Расписание</h1>
        </div>
    </div>
    <div class="container">
        <div class="grid fluid">
            <div class="row">
                <div class="span4 bg-amber padding20 text-center">
                    <h2 class="fg-white">Прилет</h2>
                </div>
                <div class="span4 bg-green padding20 text-center">
                    <h2 class="fg-white">Вылет</h2>
                </div>
                <div class="span4 bg-red padding20 text-center">
                    <h2 class="fg-white">Загрузка полосы</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-dark">
        <div class="container" style="padding: 10px 0;">
            <div class="grid no-margin">
                <div class="row no-margin">
                    <div class="span6 padding10">
                        <h3 class="fg-white">Об авторах</h3>
                        <p class="fg-white">Привет! Мы, Андросова Екатерина и Ершов Никита - авторы системы желаем вам удачного пользования системой</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
